* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
.header {
    background-color: #635854;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 4px solid #3596F5;
}
.navbar {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-menu {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    text-align: center;
}
.navbar-item {
    margin-left: 40px;
    margin-right: 40px;
}
.navbar-link {
    text-decoration: none;
    color: #fff;
}
.navbar-text {
    display: block;
    color: #fff;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 16px;
}
.navbar-contacts {
    text-align: right;
}
.navbar-phone {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    color: #fff;
}
.doms {
    margin: 0 auto;
    text-align: center;
}
.container { 
    position: relative; 
    width: 100%; 
    height: 100px; /* Вы можете изменить высоту по своему усмотрению */ 
    background-color: #fff; /* Цвет фона контейнера для наглядности */ 
}  
.container2 {
    display: flex; 
    flex-direction: column; /* Выравниваем содержимое по правому краю */ 
    align-items: center; /* Выровнять элементы по вертикали */ 
    gap: 30px; /* Расстояние между изображением и текстом */ 
    width: 120%; /* Установим максимальную ширину контейнера */
    margin-right: auto; /* Центрирование контейнера по горизонтали */
} 
.imger2 { 
    width: 100px; /* Ограничиваем ширину изображения */ 
    height: auto; /* Сохраняем пропорции изображения */
}
.pclass {
    line-height: 10px;
    font-size: auto;
}
.glav {
    margin-top: 100px;
    margin-left: 50px;
}
#osmotr {
    
}